{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Category'|trans }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('category_index') }}"><i class="fas fa-arrow-circle-left"></i> {{ 'Back to list'|trans }}</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
