{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
    <h1>{{ 'Category index'|trans }}</h1>

    <div class="mb-3">
        <a class="btn btn-primary" href="{{ path('category_new') }}">
            <i class="fas fa-plus"></i>
            {{ 'Create new category'|trans }}</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Shortname'|trans }}</th>
                <th>{{ 'Longname'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.shortname }}</td>
                    <td>{{ category.longname }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i> {{ 'Show'|trans }}</a>
                        <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt"></i> {{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
